.social-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 460px) {
    .social-block {
        flex-direction: column;
        margin-left: 5%;
    }
}