.popup-slider__close {
    position: absolute;
    top: 10px;
    right: 20px;
    /*margin: 10px 20px 0 auto;*/
    width: 50px;
    height: 50px;
    border: 0;
    background: inherit;
    background-image: url(../../../images/close-icon1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

@media screen and (max-width: 580px) {
    .popup-slider__close {
        right: 8px;
    }
}