.popup-menu__close {
    margin: 10px 20px 0 auto;
    width: 32px;
    height: 32px;
    border: 0;
    background: #ffffff;
    background-image: url(../../../images/Close-Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.popup-menu__close:hover {
    opacity: .8;
}