.header__burger {
    display: none;
}

@media screen and (max-width: 767px) {
    .header__burger {
        display: block;
    }
}

@media screen and (max-width: 350px) {
    .header__burger {
        margin-right: 10px;
    }
}